@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
}

.container {
  max-width: 450px;
}

img{
  width: 100%;
  opacity: 0.8;
}

/* form */
.form-container>form>input {
  border: solid 1px #fff;
  background-color: #000;
  padding: 5px;
  color: #fff;
}

input:focus {
  outline: none;
}

.form-container>form>input[type="submit"] {
  background-color: #fff;
  color: #000;
  border: solid 1px #fff;
  cursor: pointer;
}

.form-container>form>input[type="submit"]:hover {
  opacity: 0.7;
}